Fragmento de código

# Database Credentials 
POSTGRES_USER=postgres 
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ctin_db
POSTGRES_HOST=postgres_db
POSTGRES_PORT=5432

# Gateway Ports
GATEWAY_PORT=8080

#Frontend
VITE_API_BASE_URL=http://localhost:8080/v1/api 

