# Configuración Global del Sistema
NODE_ENV=development

# Configuración de Base de Datos (PostgreSQL)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ctin_db
POSTGRES_PORT=5432
DB_HOST=ctin_postgres_db

# Puertos de Microservicios Backend (Internos)
STARTUPS_PORT=3001
TECHNOLOGIES_PORT=3002

# Puertos Públicos
GATEWAY_PORT=8080
FRONTEND_PORT=3000

# Configuración del Frontend
VITE_API_BASE_URL=http://localhost:8080/v1/api